DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jcprevdados?schema=public"
JWT_SECRET="troque-esta-chave"
JWT_EXPIRES_IN="1d"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=3333
WEB_PORT=3000
NEXT_PUBLIC_API_URL="http://localhost:3333"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="minio123"
MINIO_BUCKET="documentos"

